/* Include Code  */

.navbar-brand img {
  height: 3.5rem;
  width: auto;
}

.icon-back {
  height: 1rem !important;
  width: auto;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.1);
  border-color: white;
  background: white;
}

.text-title-name {
  color: white;
}

.text-pts {
  color: #ffce00;
}

.text-items-nav {
  color: #ffce00 !important;
}

.navbar-nav .nav-link.active {
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
  transform: translateY(-250%);
}

.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
  transform: translateY(-250%);
}

@media (max-width: 767.98px) {
  ul.navbar-nav.ms-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px !important;
  }

  .items-menu-mobile {
    background: #000c4b;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ffce00;
    border-radius: 0.5rem;
    font-size: 1.5rem !important;
    width: 60%;
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-nav .nav-link.active {
    background: #ffeb00;
    color: #000c4b !important;
    text-transform: uppercase;
    border: 3px solid #000c4b;
    border-radius: 0.5rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 2px;
    transform: translateY(-250%);
  }

  .navbar-nav .nav-link:hover {
    background: #ffeb00;
    color: #000c4b !important;
    text-transform: uppercase;
    border: 3px solid #000c4b;
    border-radius: 0.5rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 2px;
    transform: translateY(-250%);
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  ul.navbar-nav.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  ul.navbar-nav.ms-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
  }
}

.message h1 {
  color: #e74c3c;
  margin: 0;
}

.message p {
  color: #888;
  margin: 5px 0 20px;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes flipBottom {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.counter-container {
  background: white;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
}

.counter-title {
  background: white;
  width: 160%;
  margin-left: -95px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.2);
  margin-top: -40px;
}

.text-margin {
  margin-top: -10px;
  font-size: 20px;
}

.span {
  font-size: 20px;
}

.external-container-inicio {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/sky-bg.png) !important;
  /* Make sure the path to your image is correct */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.position-relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid-mic {
  max-width: 20%;
  height: auto;
}

.custom-button {
  position: absolute;
  bottom: -30px;
  background: linear-gradient(to bottom, #ffdd33, #ffa800);
  border: none;
  border-radius: 40px;
  color: #693300;
  padding: 19px 100px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 12px #e68e0a;
  transition: all 0.2s ease;
  margin-right: 7px;
}

.custom-button-gol {
  position: absolute;
  bottom: -60px;
  background: linear-gradient(to bottom, #ffdd33, #ffa800);
  border: none;
  border-radius: 40px;
  color: #693300;
  padding: 5px 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 7px #e68e0a;
  transition: all 0.2s ease;
  margin-right: 7px;
}

.custom-button:hover {
  background: linear-gradient(to bottom, #ffa800, #ffdd33);
}

.custom-button-gol:hover {
  background: linear-gradient(to bottom, #ffa800, #ffdd33);
}

.custom-button:active {
  box-shadow: 0 6px #d17e00;
  /* Adjusted shadow for active state */
  transform: translateY(6px);
  /* Adjusted translation for active state */
}

.custom-button-gol:active {
  box-shadow: 0 6px #d17e00;
  /* Adjusted shadow for active state */
  transform: translateY(6px);
  /* Adjusted translation for active state */
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay .countdown {
  font-size: 10rem;
}

.counter {
  display: flex;
  font-size: 4rem;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.digit {
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #666;
  margin: 5px;
  border-radius: 5px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease-in-out; /* Transición para la transformación */
}

/* Estilo para rotar el dígito */
.digit.rotate {
  transform: rotateY(360deg); /* Rotación de 360 grados en el eje Y */
}

.w-120 {
  width: 120% !important;
  top: 10px;
  z-index: 1;
}

.title-score {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.d-title-score {
  margin-bottom: 15px;
  font-size: 25px;
  color: red;
  font-weight: 100;
}

.moving-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw; /* Ancho de la ventana */
  height: 100vh; /* Altura de la ventana */
  overflow: hidden;
}

.moving-image {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 40%;
  animation: moveDiagonalReverse 15s linear infinite;
}

@keyframes moveDiagonalReverse {
  0% {
    transform: translateX(-100%) translateY(0%);
  }
  100% {
    transform: translateX(200%) translateY(-100%);
  }
}
