/* Include Code  */

.navbar-brand img {
  height: 5.5rem;
  width: auto;
}

.icon-back {
  height: 1rem !important;
  width: auto;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.1);
  border-color: white;
  background: white;
}

.text-title-name {
  color: white;
}

.text-pts {
  color: #ffce00;
}

.text-items-nav {
  color: #ffce00 !important;
}

.navbar-nav .nav-link.active {
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
  transform: translateY(-250%);
}

.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
  transform: translateY(-250%);
}

@media (max-width: 767.98px) {
  ul.navbar-nav.ms-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px !important;
  }

  .items-menu-mobile {
    background: #000c4b;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #ffce00;
    border-radius: 0.5rem;
    font-size: 1.5rem !important;
    width: 60%;
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-nav .nav-link.active {
    background: #ffeb00;
    color: #000c4b !important;
    text-transform: uppercase;
    border: 3px solid #000c4b;
    border-radius: 0.5rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 2px;
    transform: translateY(-250%);
  }

  .navbar-nav .nav-link:hover {
    background: #ffeb00;
    color: #000c4b !important;
    text-transform: uppercase;
    border: 3px solid #000c4b;
    border-radius: 0.5rem;
    margin: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 2px;
    transform: translateY(-250%);
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  ul.navbar-nav.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  ul.navbar-nav.ms-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
  }
}

.message h1 {
  color: #e74c3c;
  margin: 0;
}

.message p {
  color: #888;
  margin: 5px 0 20px;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes flipBottom {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.counter-container {
  background: white;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
}

.counter-title {
  background: white;
  width: 160%;
  margin-left: -95px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.2);
  margin-top: -40px;
}

.text-margin {
  margin-top: -10px;
  font-size: 20px;
}

.span {
  font-size: 20px;
}

.external-container-inicio {
  width: 100%;
  height: 135vh;
  background-image: url(../../assets/sky-bg.png) !important;
  /* Make sure the path to your image is correct */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.position-relative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid-mic {
  max-width: 20%;
  height: auto;
}

.custom-button {
  position: absolute;
  bottom: -30px;
  background: linear-gradient(to bottom, #ffdd33, #ffa800);
  border: none;
  border-radius: 40px;
  color: #693300;
  padding: 19px 100px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 12px #e68e0a;
  transition: all 0.2s ease;
  margin-right: 7px;
}

.custom-button-gol {
  position: absolute;
  bottom: -40px;
  background: linear-gradient(to bottom, #ffdd33, #ffa800);
  border: none;
  border-radius: 40px;
  color: #693300;
  padding: 5px 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 7px #e68e0a;
  transition: all 0.2s ease;
  margin-right: 7px;
}

.custom-button:hover {
  background: linear-gradient(to bottom, #ffa800, #ffdd33);
}

.custom-button-gol:hover {
  background: linear-gradient(to bottom, #ffa800, #ffdd33);
}

.custom-button:active {
  box-shadow: 0 6px #d17e00;
  /* Adjusted shadow for active state */
  transform: translateY(6px);
  /* Adjusted translation for active state */
}

.custom-button-gol:active {
  box-shadow: 0 6px #d17e00;
  /* Adjusted shadow for active state */
  transform: translateY(6px);
  /* Adjusted translation for active state */
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay .countdown {
  font-size: 10rem;
}

* {
  font-family: Helvetica;
}

#counter {
  padding-top: 0px;
  margin-top: 40px;
  font-size: 128px;
  height: 100px;
  line-height: 1em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background: #444;
  color: white;
  border-radius: 10px;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #666;
  width: 69px;
  height: 90px;
  font-size: 70px;
  margin: 5px;
  border-radius: 10px;
}

.digit div {
  text-align: center;
  transform: translateY(0);
  transition: transform 1s ease-out;
}

.mt-15 {
  margin-top: -10px;
}

.foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(white 5%, transparent 35%, transparent 60%, white 85%);
}

@keyframes rotateUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.w-120 {
  width: 120% !important;
  top: 10px;
  z-index: 1;
}

.title-score {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.d-title-score {
  margin-bottom: 15px;
  font-size: 25px;
  color: red;
  font-weight: 100;
}

.moving-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170vw;
  height: 100vh;
  overflow: hidden;
}

.moving-image {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 40%;
  animation: moveDiagonalReverse 30s linear infinite;
}

@keyframes moveDiagonalReverse {
  0% {
    transform: translateX(-100%) translateY(0%);
  }

  100% {
    transform: translateX(300%) translateY(-100%);
  }
}

.custom-puntaje {
 position: absolute;
    bottom: 135px;
    background: linear-gradient(to bottom, #ffdd33, #ffa800);
    border: none;
    border-radius: 50px;
    color: #693300;
    padding: 20px 0px;
    font-size: 30px !important;
    font-weight: bold;
    /* cursor: pointer; */
    box-shadow: 0 12px #e68e0a;
    /* transition: all 0.2s ease; */
    margin-right: 0px;
}

.custom-with {
  width: 100% !important;
  top: -50px;
  z-index: 1;
  margin-bottom: -10px;
}

.title-puntaje {
  color: white;
  font-weight: bold;
  font-size: -webkit-xxx-large;
  margin-top: 0px;
  margin-bottom: 0px;
}

.custom-label {
  margin-top: -130px;
}


.btn-back {
  position: absolute;
  bottom: -80px;
  background: linear-gradient(to bottom, #ffdd33, #ffa800);
  border: none;
  border-radius: 40px;
  color: #693300;
  padding: 5px 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 7px #e68e0a;
  transition: all 0.2s ease;
  margin-right: 7px;
}